# Raytac MDBT53-DB-40 NRF5340 board configuration

# Copyright (c) 2019-2020 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPUAPP_QKAA

config BOARD_OPENEARABLE_V2_NRF5340_CPUAPP
	bool "OpenEarable v2 Application MCU"

config BOARD_OPENEARABLE_V2_NRF5340_CPUAPP_NS
	bool "OpenEarable v2 Application nRF5340 MCU non-secure"

endif # SOC_NRF5340_CPUAPP_QKAA

config BOARD_OPENEARABLE_V2_NRF5340_CPUNET
	bool "OpenEarable v2 nRF5340 Network MCU"
	depends on SOC_NRF5340_CPUNET_QKAA
