#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "BT management"

rsource "controller_config/Kconfig"

config WDT_CTLR
	bool "Enable watchdog for controller"
	default y
	select WATCHDOG
	select TASK_WDT
	help
	  Poll the controller every two seconds to detect an IPC or controller stall.
	  The watchdog is stopped before shutdown or entering standalone DFU mode.

config CTLR_POLL_WORK_Q_PRIO
	int "Work queue priority for controller poll"
	default 2
	depends on WDT_CTLR

#----------------------------------------------------------------------------#
rsource "dfu/Kconfig"
rsource "advertising/Kconfig"
rsource "scanning/Kconfig"

#----------------------------------------------------------------------------#
menu "Log level"

module = BT_MGMT
module-str = bt-mgmt
source "subsys/logging/Kconfig.template.log_config"

endmenu # Log level
endmenu # BT management
